:root {
  --our_t_color: rgba(245, 244, 250, 1);
  --black-color: rgba(0, 0, 0, 1);
  --another-black: rgba(33, 33, 33, 1);
  --grey-color: rgba(117, 117, 117, 1);
  --black-grey-color: rgba(47, 48, 58, 1);
  --blue-color: rgba(33, 150, 243, 1);
  --white-color: rgba(255, 255, 255, 1);
  --light-grey-color: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
}
/* header */
.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0px; 
  justify-content: space-between;
  align-items: center;
}
.nav_sps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
  margin-left: -250px;
}
.spisokkont {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
}
.nav_sps_nachinochka {
  display: flex;
  justify-content: space-around;
}

.nav_sps_nach {
  row-gap: 50px;
}
header {
  padding: 32px 0;
}

.coitainer {
  flex-direction: row;
}
.zag {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.nachtex {
  color: var(--blue-color);
}
.kontexq {
  color: var(--black-color);
}
.kontex {
  color: var(--white-color);
}
.spisokkont_nachinochka:hover,
.nav_sps_nachinochka:hover {
  color: var(--blue-color);
}
.nav_sps_nachinochka {
  color: var(--another-black);
}
.spisokkont_nachinochka {
  color: var(--grey-color);
}
/* main */
.chimzas {
  display: flex;
  flex-direction: row;
}
.spsphot {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
}
.osoblivosti_sps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 50px;
  align-items: center;
}

.osoblivosti_sps_nach_zag {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
}




#osoblivosti_sps_nach_id1, #osoblivosti_sps_nach_id4 {
  margin-top: 25px;
}

#osoblivosti_sps_nach_id1::before {
  content: url("../img/group1.jpg");
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
#osoblivosti_sps_nach_id2::before {
  content: url("../img/group2.jpg");
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
#osoblivosti_sps_nach_id3::before {
  content: url("../img/group3.jpg");
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}
#osoblivosti_sps_nach_id4::before {
  content: url("../img/group4.jpg");
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.command_sps_nach_photo {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.command_sps_nach {
  border-radius: 5px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.osoblivosti {
  padding: 94px 0;
}
.osoblivosti_sps_nachinochka {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  width: 270px;
}
.ssilochka {
  background-image: url(../img/iimg.png);
  margin: 0 auto;
  width: 1520px;
  height: 600px;
}
.ssilochka_zag {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30;
  padding-top: 200px;
}
.ssilochka_knopk {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
}
.command_sps_nach_txt {
  color: var(--grey-color);
  padding-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  
}
.command {
  background-color: var(--our_t_color);
}
.command_sps_nach {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white-color);
}
.chimza {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.chimzas {
  margin-bottom: 94px;
}
.spsphot_nach_img {
  width: 370px;
  height: 294px;
}
.command_zag {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 94px;
}
.command_sps_nach_zag {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;

}
.command_sps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  padding-bottom: 94px;
  justify-content: space-between;
  align-items: center;
}
/*Footer*/
.footer_adr {
  padding-top: 20px;
}
.zagi {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;

}
footer {
  background-color: var(--black-grey-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer_adr_txt,
.footer_adr_sps_nach {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer_adr_sps_nachi {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-top: 9px;
  padding-bottom: 9px;
}
.footer_adr_sps_nachinochka {
  color: var(--light-grey-color);
}
.footer_adr_txt {
  color: var(--white-color);
}
.footer_adr {
  font-style: normal;
}
/* nepotrib */
.osoblivosti_zag {
  display: none;
}
.del {
  display: none;
}
/* container */
.container {
  width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  }
