:root {
  --black-color: rgba(0, 0, 0, 1);
  --another-black: rgba(33, 33, 33, 1);
  --grey-color: rgba(117, 117, 117, 1);
  --black-grey-color: rgba(47, 48, 58, 1);
  --blue-color: rgba(33, 150, 243, 1);
  --white-color: rgba(255, 255, 255, 1);
  --light-grey-color: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
}
/* header */
.zag {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.nachtex {
  color: var(--blue-color);
}
.kontexq {
  color: var(--black-color);
}
.kontex {
  color: var(--white-color);
}
.spisokkont_nachinochka:hover,
.nav_sps_nachinochka:hover {
  color: var(--blue-color);
}
.nav_sps_nachinochka {
  color: var(--another-black);
}
.spisokkont_nachinochka {
  color: var(--grey-color);
}
/* main */
.ssilochka {
  background-color: var(--black-grey-color);
}
.osoblivosti_sps_nach_zag {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.osoblivosti_sps_nachinochka {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.ssilochka_zag {
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
}
.ssilochka_knopk {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.command_sps_nach_txt {
  color: var(--grey-color);
}

.chimza {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}
.spsphot_nach_img {
  width: 370px;
  height: 294px;
}
.command_zag {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
}
.command_sps_nach_zag {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
}
/*Footer*/
footer {
  background-color: var(--black-grey-color);
}
.footer_adr_txt, .footer_adr_sps_nach {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer_adr_sps_nachinochka {
  color: var(--light-grey-color);
}
.footer_adr_txt {
  color: var(--white-color);
}
.footer_adr {
  font-style: normal;
}
/* nepotrib */
.osoblivosti_zag {
  display: none;
}