:root {
  --black-color: rgba(0, 0, 0, 1);
  --another-black: rgba(33, 33, 33, 1);
  --grey-color: rgba(117, 117, 117, 1);
  --black-grey-color: rgba(47, 48, 58, 1);
  --blue-color: rgba(33, 150, 243, 1);
  --white-color: rgba(255, 255, 255, 1);
  --light-grey-color: rgba(255, 255, 255, 0.6);
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}
body {
  font-family: var(--font-family);
  letter-spacing: 0.02em;
  font-size: 14px;
  font-weight: 500;
}
/* header */
.flex-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0px;
  justify-content: space-between;
  align-items: center;
}
.nav_sps {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 50px;
  align-items: center;
}
.spisokkont {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 50px;
  align-items: center;
}
.nav_sps_nachinochka {
  display: flex;
  justify-content: space-around;
}

.nav_sps_nach {
  row-gap: 50px;
}
header {
  padding: 32px 0;
}

.portfolio_sps_nachinochka {
  padding: ;
}
.zag {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.nachtex {
  color: var(--blue-color);
}
.kontexq {
  color: var(--black-color);
}
.kontex {
  color: var(--white-color);
}
.spisokkont_nachinochka:hover,
.nav_sps_nachinochka:hover {
  color: var(--blue-color);
}
.nav_sps_nachinochka {
  color: var(--another-black);
}
.spisokkont_nachinochka {
  color: var(--grey-color);
}
/* main */
.portfolio_sps {
  margin-bottom: 50px;
}
.portfolio_sps {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
  column-gap: 8px;
  justify-content: center;
  align-items: center;
}
.portfolio_sps_nachinochka {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: 0cap;
  border-radius: 4px;
}
.portfolio {

}
.portfolio_sps_nachinochka:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: 0cap;
  border-radius: 4px;
}
.spspnapov {
  display: flex;
  flex-wrap: wrap;
  margin-top: 34px;
}
.spspnapov_nach {
  column-gap: 30;
  row-gap: 30;
}
.spspnapov_nach {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: calc((100% - 2 * 30px) / 3);
}
.spspnapov_nach_img {

}
.spspnapov_nach {
  margin: 0 30px;
}
.spspnapov {
  margin: 0 30px;
}
.portfolio_sps_nach {
  font-family: var(--font-family);
}
.portfolio {
  margin: 94px 0;
}
.spspnapov_nachinochka {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}

.spspnapov_nach_zag {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* footer */
footer {
  background-color: var(--black-grey-color);
}
.footer {
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer_adr_txt,
.footer_adr_sps_nach {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer_adr_sps_nachinochka {
  color: var(--light-grey-color);
}
.footer_adr_txt {
  color: var(--white-color);
}
.footer_adr {
  font-style: normal;
}
/* some other stuff */
.portfolio_zag {
  display: none;
}
.del {
  display: none;
}
/* container */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
