:root {
--black-color: rgba(0, 0, 0, 1);
--another-black: rgba(33, 33, 33, 1);
--grey-color: rgba(117, 117, 117, 1);
--black-grey-color: rgba(47, 48, 58, 1);
--blue-color: rgba(33, 150, 243, 1);
--white-color: rgba(255, 255, 255, 1);
--light-grey-color: rgba(255, 255, 255, 0.6);
--font-family: "Roboto", sans-serif;
--second-family: "Raleway", sans-serif;
}
header, main, footer {
  font-family: var(--font-family);
  letter-spacing: 0.03em;
}
header > a {
  font-family: var(--second-family);
}
#kulka {
  background-color: var(--black-grey-color);
}
#kulka > h1 {
  color: var(--white-color);
  text-transform: uppercase;
}
#kulka > button {
  background-color: var(--blue-color);
  color: var(--white-color);
  font-family: var(--font-family);
}
footer {
  background-color: var(--black-grey-color);
}
.nus > p {
  color: var(--white-color);
}
address > ul > li > a[href^="mailto:"], address > ul > li > a[href^="tel:"] {
  color: var(--light-grey-color);
}
.nachtex {
  color: var(--blue-color);
}
.kontex {
  color: var(--white-color);
}
header > nav > ul > li > a {
  color: var(--another-black);
}
header > ul > li > a {
  color: var(--grey-color);
}
#osob > h2 > ul > li > p {
  color: var(--grey-color);
}
.kontexq {
  color: var(--black-color);
}
#kommand > ul > li > p {
  color: var(--grey-color);
}
#mon > li > a[href^="mailto:"] {
  color: var(--grey-color);
}
header > ul > li > a:hover, header > nav > ul > li > a:hover {
  color: var(--blue-color);
}
address {
  font-style: normal;
}
footer > a {
  font-family: var(--second-family);
}
